#header-container{
    display: flex;
    justify-content: center;
    background-color: #156272;
    padding-bottom: 5px;
}

#hamburger-container{
    position: absolute;
    left: 0px;
    top: 25px
}

#logo{

    margin-top: 5px;
    width: 70px;
}

#center-header-container{
    position: fixed; 
    text-align: center;
}